name: Reusable .NET CI

on:
  workflow_call:
    inputs:
      dotnet-version:
        required: true
        type: string
      project-path:
        required: true
        type: string
      build-configuration:
        required: true
        type: string
      run-tests:
        required: true
        type: boolean

jobs:
  build-dotnet:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - name: Restore Dependencies
        run: dotnet restore ${{ inputs.project-path }}

      - name: Build
        run: |
          dotnet build ${{ inputs.project-path }} \
            -c ${{ inputs.build-configuration }} \
            --no-restore

      - name: Run Tests
        if: ${{ inputs.run-tests }}
        run: dotnet test ${{ inputs.project-path }} --no-build

      - name: Publish
        run: |
          dotnet publish ${{ inputs.project-path }} \
            -c ${{ inputs.build-configuration }} \
            -o build-output

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dotnet-build
          path: build-output
